*{
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
}

header{
    flex: 0 0 100%;
}

nav{
    flex: 0 0 100%;
}

article{
    flex: 0 0 100%;
}

footer{
    flex: 0 0 100%;
}