*{
    box-sizing: border-box;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

nav li{
    flex: 0 1 auto;
}

nav a{
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

nav a:hover{
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px 4px rgb(197, 197, 197);
    text-decoration: none;
    text-transform: uppercase;
    
}