*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    color: rgb(0, 0, 0);
}

legend{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

label{
    padding: 10px;
    clear: both;
}

fieldset{
    border: 2px solid white;
}

.regisztracio{
    box-shadow: 0 0 10px 4px white;
    text-shadow: 0px 0px 20px white, 0px 0px 20px white;
    padding: 15px 30px 20px 30px;
    margin-top: 30px;
    background-color: white;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.regisztracio div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.regisztracio label {
    padding: 0;
    width: 100%;
    margin-bottom: 6px;
    text-align: left;
}

.regisztracio input,
.regisztracio select,
.regisztracio textarea {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
}

.erdeklodes{
    box-shadow: 0 0 10px 4px white;
    text-shadow: 0px 0px 20px white, 0px 0px 20px white;
    padding: 15px 30px 20px 30px;
    margin-top: 30px;
    background-color: white;
}

footer{
    text-shadow: 0px 0px 10px white, 0px 0px 6px white;
}

.megjegyzes{
    font-size: 20px;
}

.radio-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}
.kuld{
    background-color: white;
    color: black;
    border: 2px solid white;
    box-shadow: 0 0 10px 4px white;
    text-shadow: 0px 0px 20px white, 0px 0px 20px white;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
}

.kuld:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 10px 4px white;
    text-shadow: 0px 0px 20px white, 0px 0px 20px white;
}