*{box-sizing: border-box;
}

body{
    color: rgb(0, 0, 0);
}

legend{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

label{
    padding: 10px;
}

.regisztracio{
    box-shadow: 0 0 10px 4px white;
    text-shadow: 0px 0px 8px white;
    padding: 15px 30px 20px 30px;
    margin-top: 30px;
    background-color: white;
}

.erdeklodes{
    box-shadow: 0 0 10px 4px white;
    text-shadow: 0px 0px 8px white;
    padding: 15px 30px 20px 30px;
    margin-top: 30px;
    background-color: white;
}

footer{
    text-shadow: 0px 0px 8px white;
}

.megjegyzes{
    font-size: 20px;
}